*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}


/* Var used */
:root{
  --color-main:#44A1C2;
  --color-box-form:#FBFBFB;
  --color-box-perfil:#F2F2F2;
  --font-raleway:'Raleway', sans-serif;
}

/* Exemplo de como usar Var
body{
  background-color: var(--color-main);
} */

.nav-bar{
  background-color: var(--color-main);
  width: 100%;
  position: fixed;
}

.bear{
  height: 50PX;
  margin-left: 20px;
}

#btn-sign{
  /* justify-content: right; */
  margin-left: 140PX;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #44A1C2;
  font-family: 'Raleway';
  border-radius: 10px;

}

.note{
  width: 100%;
  margin-top: 50px;
}

.text-int h2{
  color: #44A1C2;
  font-family: 'Raleway';
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;

}

.text-int p{
  color: rgb(90, 88, 88);
  font-family: 'Raleway';
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 30px;

}

.text-int #btn-con{
  margin-top: 8px;
  margin-left: 110px;
  background-color: #44A1C2;
  border-color:#44A1C2;
  color: #ffffff;
  font-family: 'Raleway';
  border-radius: 10px;

}


.bear-dev{
  width: 400px;
}

.text-this h2{
  color: #44A1C2;
  font-family: 'Raleway';
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}

.text-this p{
  color: rgb(90, 88, 88);
  font-family: 'Raleway';
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 30px;

}

.team-scrum{
  width: 250px;
  margin-top: 30px;
  margin-left: 30px;
}

.text-team h2{
  margin-top: 30px;
  color: #44A1C2;
  font-family: 'Raleway';
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}

.text-team p{
  color: rgb(90, 88, 88);
  font-family: 'Raleway';
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 30px;

}